<div class="banner">
      <div class="banner-wrapper">
        <h1>BROWSE ALL SUPERPOWERS</h1>
        <p>Find the superpower that fits you</p>
        <a class="btn btn-primary rounded" href="#">EXPLORE</a>
      </div>
</div>

<div class="container text-center">

  <div class="card-container flex-wrap" style="display: flex; justify-content: space-between">
    <% @superpowers.each do |superpower| %>
      <div class="card my-5" style="flex: 0 0 48%; position: relative">
        <h2 class="card-header" style="color: red"> <%= superpower.name.upcase %> </h2>
        <p class="card-description" style="height: 200px"><%= superpower.description %></p>
        <h3>PRICE: <%= superpower.price %> EURO</h3>
        <%= link_to "User", user_path(superpower.user), class: "card-user-link" %>
        <%= link_to "", superpower_path(superpower), class: "card-link" %>
      </div>
    <% end %>
  </div>
</div>
<div class="container">
  <div id="map"
      style="width: 100%; height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
