<div class="container-fluid text-center">
  <h1>BROWSE ALL SUPERPOWERS</h1>

    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('max-bender-iF5odYWB_nQ-unsplash.jpg');">
      <div class="container">
        <p>Change your life and learn to code at one of our campuses around the world.</p>
        <a class="btn btn-flat" href="#">Apply now</a>
      </div>
    </div>
  


  <div class="card-container" style="display: flex; justify-content: space-between">
    <% @superpowers.each do |superpower| %>
      <div class="card my-5" style="flex: 0 0 48%; position: relative">
        <h2 class="card-header" style="color: red"> <%= superpower.name.upcase %> </h2>
        <p class="card-description" style="height: 200px"><%= superpower.description %></p>
        <h3>PRICE: <%= superpower.price %> EURO</h3>
        <%= link_to "User", user_path(superpower.user), class: "card-user-link" %>
        <%= link_to "", superpower_path(superpower), class: "card-link" %>
      </div>
    <% end %>
  </div>
</div>
