<div class="container text-center">
    <div id="showcard">
        <img src="<%= @superpower.pic %>" alt="">
        <h2 class="card-header"> <%= @superpower.name %> </h2>
        <p class="card-description"><%= @superpower.description %></p>
        <div class="card-price">
          <h3>PRICE: <%= @superpower.price %> EURO</h3>
          <%= link_to "User", user_path(@superpower.user), class: "card-user-link" %>
        </div>
    </div>

  <div class="book_it">
    <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
      <h2 class="text-center" style="color: white">RENT DE POWER</h2>
      <%= simple_form_for :rent, method: "get" do |f| %>
        <%= f.input :date_from, as: :string, required: true, input_html: { class: "datepicker" } %>
        <%= f.input :date_to, as: :string, required: true, input_html: { class: "datepicker" } %>
        <%= f.button :submit, "BOOK IT", class: "btn btn-danger w-100 mb-4" %>
      <% end %>
    </div>
  </div>
  <div class="navbuts">
    <div class="my-5 btn btn-warning"><%= link_to "All Bookings", superpower_rents_path(@superpower) %></div>
    <div class="my-5 btn btn-warning"><%= link_to "Back home", superpowers_path %></div>
  </div>
</div>
