<div class="container text-center">
    <div id="showcard">
        <img src="<%= @superpower.pic %>" alt="">
        <h2 class="showcard-header"> <%= @superpower.name %> </h2>
        <p class="showcard-description"><%= @superpower.description %></p>
        <div class="showcard-price">
          <h3><%= @superpower.price %> € / Day</h3>
        </div>
    </div>

  <div class="book_it">
      <h2 class="text-center">BOOK YOUR POWER</h2>
      <%= simple_form_for :rent, method: "get" do |f| %>
        <%= f.input :date_from, as: :string, required: true, input_html: { class: "datepicker m-2" } %>
        <%= f.input :date_to, as: :string, required: true, input_html: { class: "datepicker m-2" } %>
        <%= f.button :submit, "BOOK IT", class: "btn btn-warning w-100 m-2 my-3" %>
      <% end %>
  </div>
<div class="container">
  <div id="map"
      style="border: none; z-index: 1; width: 56%; height: 400px; margin: 60px 200px 60px 485px; border-radius: 16px"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
  <div class="navbuts">
    <div class="m-1 btn w-100"><%= link_to "All Bookings", superpower_rents_path(@superpower) %></div>
    <div class="m-1 btn w-100"><%= link_to "Back home", superpowers_path %></div>
  </div>
</div>
