<div class="container text-center">
  <br>
  <br>
  <br>
  <h1>Here are your booked powers:</h1>

  <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Superpower</th>
      <th scope="col">From:</th>
      <th scope="col">Until:</th>
      <th scope="col">Status</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
 
 <% @rents.each do |rent| %>
     <tr>
      <th scope="row"> <%= rent.id %> </th>
      <td><%= rent.superpower.name %></td>
      <td> <%= rent.date_from %> </td>
      <td> <%= rent.date_to %> </td>
      <td> <%= rent.status ? "confirmed" : "pending" %> </td>
      <td> <%= link_to '☠️ Delete ', rent_path(rent), method: :delete %> </td>
    </tr>
 <% end %>
 
  <br>
  <h6><%= link_to 'Go back to Superpowers', superpowers_path %></h6>
</div>
