<div class="container">
  <h1>The Powers you have up for rent:<h1>
    <div class="card-container flex-wrap" style="display: flex; justify-content: space-between">
        <% @superpowers.each do |superpower| %>
          <% if superpower.photo.attached? %>  
            <div class="card my-4" id="card" style="flex: 0 0 30%; position: relative; background: linear-gradient(75deg, rgba(65,65,65,0.1) 0%, rgba(65,65,65,0.4) 42%, rgba(30,30,30,0.4) 100%), url('<%= cl_image_path superpower.photo.key %>');">
          <% else %> 
            <div class="card my-4" id="card" style="flex: 0 0 30%; position: relative; background: linear-gradient(75deg, rgba(65,65,65,0.1) 0%, rgba(65,65,65,0.4) 42%, rgba(30,30,30,0.4) 100%), url(<%= superpower.pic %>);">
          <% end %> 
            <h2 class="card-header"> <%= superpower.name %> </h2>
            <p class="card-description"><%= superpower.description %></p>
            <div class="card-price">
              <h3><%= superpower.price %> € / Day</h3>
              <p class="card-user-link">BY: <%= "#{Faker::Name.name}" %></p>
            </div>
            <%= link_to "", superpower_path(superpower), class: "card-link" %>
          </div>
        <% end %>
    </div>
  </div>
  <h1>You pending reservations:</h1>
  <table class="table">
      <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Superpower</th>
      <th scope="col">From:</th>
      <th scope="col">Until:</th>
      <th scope="col">Status</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
      <% @superpowers.each do |superpower| %>
        <% superpower.rents.each do |rent|  %>
          <tr>
          <th scope="row"> <%= rent.id %> </th>
          <td><%= rent.superpower.name %></td>
          <td> <%= rent.date_from %> </td>
          <td> <%= rent.date_to %> </td>
          <td>  <% if rent.status %> 
                 confirmed
                <% else %>
                <%= link_to 'To confirm', rent_path(rent), method: 'patch', anchor: 'Scroll-here', remote: true %>
               <% end %></td>
          <td> <%= link_to '☠️ Delete ', rent_path(rent), method: :delete %> </td>
          </tr>
        <% end  %>
      <% end %>
      </table>
</div>